<div class="table-responsive">
  <button class="btn btn-primary-2" routerLink="/activity-type/new">
    <i class="icofont icofont-plus"></i> 
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-nr">
        <th class="text-center">
          <i class="icofont icofont-thin-down"></i>
        </th>
        <th translate>label.name</th>
        <th translate>label.category</th>
        <th translate>label.description</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoaded">
      <tr>
        <td colspan="4" class="text-center">
          <i class="ti-reload rotate-refresh"></i>
        </td>
      </tr>
    </tbody>
    <tbody *ngFor="let itens of dataProvider">
      <tr *ngIf="itens.length == 0">
        <td colspan="4" class="text-center" translate>dataProviderLengthZero.activityType</td>
      </tr>
      <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
        <td class="td-actions">
          <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_ACTIVITY_TYPE_UPDATE'">
            <i class="icofont icofont-ui-edit"></i>
          </button>
        </td>
        <td>{{ item.name }}</td>
        <td translate>label.{{ item.category.toLowerCase() }}</td>
        <td>{{ item.description }}</td>
      </tr>
    </tbody>
  </table>
</div>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
    <div class="modal-header">
      <h4 class="modal-title" translate>title.details</h4>
    </div>
    
    <div class="modal-body">
      <form name="form" #form="ngForm">
        <div class="row">
          <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'"
                      [label]="'label.name' | translate" [field]="'name'" name="selectedActivityType.name"
                      [(ngModel)]="selectedActivityType.name"></app-input>
        </div>

        <div class="row">
          <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'category'"
                    [label]="'label.category' | translate" [field]="'name'" name="selectedActivityType.category"
                    [ngModel]="'label.'+selectedActivityType.category?.toLowerCase() | translate"
                    (ngModelChange)="selectedActivityType.category = $event"></app-input>
        </div>

        <div class="row">
          <app-textarea [form]="form" class="col-sm-12" [readonly]="true" [id]="'description'" [rows]="5"
                        [label]="'label.description' | translate" name="selectedActivityType.description"
                        #name="ngModel" [(ngModel)]="selectedActivityType.description"></app-textarea>
        </div>
    
        <div class="row">
          <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                      [label]="'label.insertedIn' | translate" name="selectedActivityType.dateInsert"
                      [ngModel]="selectedActivityType.dateInsert | dateTimeFormat"
                      (ngModelChange)="selectedActivityType.dateInsert = $event"></app-input>
  
          <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                      [label]="'label.insertedBy' | translate" name="selectedActivityType.userInsert.name"
                      [ngModel]="selectedActivityType.userInsert?.name"
                      (ngModelChange)="selectedActivityType.userInsert.name = $event"></app-input>
        </div>
  
        <div class="row">
          <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                      [label]="'label.updatedIn' | translate" name="selectedActivityType.dateUpdate"
                      [ngModel]="selectedActivityType.dateUpdate | dateTimeFormat"
                      (ngModelChange)="selectedActivityType.dateUpdate = $event"></app-input>
  
          <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                      [label]="'label.updatedBy' | translate" name="selectedActivityType.userUpdate.name"
                      [ngModel]="selectedActivityType.userUpdate?.name"
                      (ngModelChange)="selectedActivityType.userUpdate.name = $event"></app-input>
        </div>

        <div class="row pt-3">
          <div class="col-sm-12 text-right">
            <button class="btn btn-outline-danger" translate (click)="delete(selectedActivityType)" *ngIfPermission="'ROLE_ACTIVITY_TYPE_DELETE'">
              <i class="icofont icofont-delete-alt"></i>
              button.delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </ngx-smart-modal>