<section class="p-fixed d-flex text-center bg-primary error-404 common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <section style="display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;">
        <div style="text-transform:uppercase;">
          <h1 style="margin-bottom:25px; font-size:80px;">
            <span style="display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;">
              <strong style="display:inline-block; padding:0 20px 20px; border:1px solid #CCCCCC; font-weight:normal;">4</strong></span>
            <span style="display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;">
              <strong style="display:inline-block; padding:0 20px 20px; border:1px solid #CCCCCC; font-weight:normal;">0</strong></span>
            <span style="display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;">
              <strong style="display:inline-block; padding:0 20px 20px; border:1px solid #CCCCCC; font-weight:normal;">4</strong></span>
          </h1>
          <h2 style="font-size:60px;">Error ! <span style="display:block; font-size:30px;">Page Not Found</span></h2>
        </div>
        <p style="margin:25px 0 0 0; padding:0; font-size:16px;">For some reason the page you requested could not be found on our server</p>
      </section>
    </div>
  </div>
</section>