<div class="table-responsive">
  <button class="btn btn-primary-2" routerLink="/course/new">
    <i class="icofont icofont-plus"></i> 
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-nr">
        <th class="text-center">
          <i class="icofont icofont-thin-down"></i>
        </th>
        <th translate>label.code</th>
        <th translate>label.name</th>
        <th translate>label.hourMax</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoaded">
      <tr>
        <td colspan="4" class="text-center">
          <i class="ti-reload rotate-refresh"></i>
        </td>
      </tr>
    </tbody>
    <tbody *ngFor="let itens of dataProvider">
      <tr *ngIf="itens.length == 0">
        <td colspan="4" class="text-center" translate>dataProviderLengthZero.course</td>
      </tr>
      <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
        <td class="td-actions">
          <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_COURSE_UPDATE'">
            <i class="icofont icofont-ui-edit"></i>
          </button>
        </td>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.numberHourMax }}</td>
      </tr>
    </tbody>
  </table>
</div>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'code'"
                    [label]="'label.code' | translate" [field]="'code'" name="selectedCourse.code"
                    [(ngModel)]="selectedCourse.code"></app-input>
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHourMax'"
                    [label]="'label.hourMax' | translate" [field]="'numberHourMax'" name="selectedCourse.numberHourMax"
                    [(ngModel)]="selectedCourse.numberHourMax"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'"
                    [label]="'label.name' | translate" [field]="'name'" name="selectedCourse.name"
                    [(ngModel)]="selectedCourse.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedCourse.dateInsert"
                    [ngModel]="selectedCourse.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedCourse.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedCourse.userInsert.name"
                    [ngModel]="selectedCourse.userInsert?.name"
                    (ngModelChange)="selectedCourse.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedCourse.dateUpdate"
                    [ngModel]="selectedCourse.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedCourse.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedCourse.userUpdate.name"
                    [ngModel]="selectedCourse.userUpdate?.name"
                    (ngModelChange)="selectedCourse.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedCourse)" *ngIfPermission="'ROLE_COURSE_DELETE'">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>