<ngb-tabset justify="justified">
  <ngb-tab title="{{activityType.id > 0? titleAba : 'title.newActivityType' | translate}}">
    <ng-template ngbTabContent>
      <div class="child-tab">
        
        <form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
          <div class="form-group row">
            <!-- NAME -->
            <app-input class="col-sm-12" [form]="form" [field]="'name'"
                      [maxlength]="1000" [id]="'name'"
                      [label]="'label.name' | translate" name="activityType.name" [control]="name"
                      #name="ngModel" [(ngModel)]="activityType.name"
                      required [tooltip]="'tooltip.activityType.informNameActivityType' | translate"></app-input>
          </div>

          <div class="form-group row">
            <app-radio-group class="col-sm-12" [form]="form" [field]="'category'"
                            [id]="'category'" [list]="list"
                            [label]="'label.category' | translate" name="activityType.category" [control]="category"
                            #category="ngModel" [(ngModel)]="activityType.category" required></app-radio-group>
          </div>

          <div class="form-group row">
            <app-textarea class="col-sm-12" [form]="form" [field]="'name'" [maxlength]="1000" [id]="'description'" [rows]="5"
                          [label]="'label.description' | translate" name="activityType.description" [control]="description" required
                          #description="ngModel" [(ngModel)]="activityType.description"></app-textarea>
          </div>

          <div class="form-group row">
            <div class="col-sm-12 text-right">
              <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
                <i class="icofont icofont-arrow-left"></i> 
                {{'button.back' | translate}}
              </button>
              <button class="btn btn-success" [disabled]="isLoading">
                <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
                <i class="icofont icofont-save" *ngIf="!isLoading"></i>
                {{'button.save' | translate}}
              </button>
            </div>
          </div>

          <div class="row"></div>
        </form>

      </div>
    </ng-template>
  </ngb-tab>
  
  <ngb-tab title="{{'title.courses' | translate}}"  [disabled]="!modelEdit">
    <ng-template ngbTabContent>
      <div class="child-tab">

        <br/>

        <div class="table-responsive">
          <button class="btn btn-primary-2" routerLink="/activity-type/edit/{{activityType.id}}/activity-type-course/new">
            <i class="icofont icofont-plus"></i> 
            {{'button.new' | translate}}
          </button>
        </div>

        <br/>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-nr">
                <th class="text-center">
                  <i class="icofont icofont-thin-down"></i>
                </th>
                <th translate>label.course</th>
                <th translate>label.semester</th>
                <th *ngIf="activityType.category == 'HOUR'" translate>label.hourMax</th>
                <th *ngIf="activityType.category == 'HOUR'" translate>label.hourRelationship</th>
                <th *ngIf="activityType.category == 'OCCURRENCE'" translate>label.hourOccurrence</th>
                <th *ngIf="activityType.category == 'OCCURRENCE'" translate>label.hourOccurrenceMax</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoaded">
              <tr>
                <td colspan="5" class="text-center">
                  <i class="ti-reload rotate-refresh"></i>
                </td>
              </tr>
            </tbody>
            <tbody *ngFor="let itens of dataProvider">
              <tr *ngIf="itens.length == 0">
                <td colspan="5" class="text-center" translate>dataProviderLengthZero.course</td>
              </tr>
              <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
                <td class="td-actions">
                  <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_ACTIVITY_TYPE_COURSE_UPDATE'">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td>{{ item.course.name }}</td>
                <td>{{ item.semester }}</td>
                <td *ngIf="activityType.category == 'HOUR'">{{ item.numberHourMax }}</td>
                <td *ngIf="activityType.category == 'HOUR'">{{ item.numberHourRelationship }}</td>
                <td *ngIf="activityType.category == 'OCCURRENCE'">{{ item.numberHourByOccurrence }}</td>
                <td *ngIf="activityType.category == 'OCCURRENCE'">{{ item.numberOccurrenceMax }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'activityType'"
                    [label]="'label.activityType' | translate" [field]="'activityType'" name="selectedActivityTypeCourse.activityType.name"
                    [(ngModel)]="selectedActivityTypeCourse.activityType.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'course'"
                    [label]="'label.course' | translate" [field]="'course'" name="selectedActivityTypeCourse.course.name"
                    [(ngModel)]="selectedActivityTypeCourse.course.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'semester'"
                    [label]="'label.semester' | translate" [field]="'semester'" name="selectedActivityTypeCourse.semester"
                    [(ngModel)]="selectedActivityTypeCourse.semester"></app-input>
      </div>

      <div class="row" *ngIf="selectedActivityTypeCourse.activityType.category == 'HOUR'">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHourMax'"
                    [label]="'label.hourMax' | translate" [field]="'numberHourMax'" name="selectedActivityTypeCourse.numberHourMax"
                    [(ngModel)]="selectedActivityTypeCourse.numberHourMax"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHourMax'"
                    [label]="'label.hourRelationship' | translate" [field]="'numberHourRelationship'" name="selectedActivityTypeCourse.numberHourRelationship"
                    [(ngModel)]="selectedActivityTypeCourse.numberHourRelationship"></app-input>
      </div>

      <div class="row" *ngIf="selectedActivityTypeCourse.activityType.category == 'OCCURRENCE'">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHourByOccurrence'"
                    [label]="'label.hourOccurrence' | translate" [field]="'numberHourByOccurrence'" name="selectedActivityTypeCourse.numberHourByOccurrence"
                    [(ngModel)]="selectedActivityTypeCourse.numberHourByOccurrence"></app-input>
        
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberOccurrenceMax'"
                    [label]="'label.hourOccurrenceMax' | translate" [field]="'numberOccurrenceMax'" name="selectedActivityTypeCourse.numberOccurrenceMax"
                    [(ngModel)]="selectedActivityTypeCourse.numberOccurrenceMax"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedActivityTypeCourse.dateInsert"
                    [ngModel]="selectedActivityTypeCourse.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedActivityTypeCourse.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedActivityTypeCourse.userInsert.name"
                    [ngModel]="selectedActivityTypeCourse.userInsert?.name"
                    (ngModelChange)="selectedActivityTypeCourse.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedActivityTypeCourse.dateUpdate"
                    [ngModel]="selectedActivityTypeCourse.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedActivityTypeCourse.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedActivityTypeCourse.userUpdate.name"
                    [ngModel]="selectedActivityTypeCourse.userUpdate?.name"
                    (ngModelChange)="selectedActivityTypeCourse.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedActivityTypeCourse)" *ngIfPermission="'ROLE_ACTIVITY_TYPE_COURSE_DELETE'">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>