.col-sm-2 + .card {
  margin: 0 1px;
}

.card {
  border-top: 4px solid #ffcc50;
  background-color: #fff;
  box-shadow: 0 0px 3px -1px rgba(0, 0, 0, 0.2),
    0 5px 5px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.card-text {
  height: 25px;
  padding-top: 5px;
  text-align: center;
  font-size: 15px;

  /* adicionando reticências a string */
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-close {
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 3px;
  text-decoration: none;
  border-radius: 7px;
  padding: 3px 7px;
}

.view {
  padding-top: 5px;
}

.label-text {
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}
