<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
  <div class="form-group row">

    <!-- USER MATRICULA -->
    <app-autocomplete [list]="students" (search)="findStudents()" [displayProperty]="'login'"
                      [displayPropertyExtra]="'name'" (selectItem)="selectStudent($event)" [isFiltered]="isFiltered"
                      class="col-sm-3" [form]="form" [field]="'student'" [id]="'student'"
                      [label]="'label.studentLogin' | translate" name="activity.student.login" [control]="studentLogin"
                      #studentLogin="ngModel" [(ngModel)]="activity.student.login"
                      [tooltip]="'tooltip.activity.informRegistrationStudent' | translate" required
                      [disabled]="isStudent || modelEdit"></app-autocomplete>

    <!-- USER NAME -->
    <app-input class="col-sm-9" [form]="form" [field]="'student.name'"
                [id]="'student.name'" [label]="'label.studentName' | translate"
                name="activity.student.name" [control]="studentName" #studentName="ngModel"
                [(ngModel)]="activity.student.name"
                disabled [tooltip]="'tooltip.activity.informFieldLogin' | translate"></app-input>

    <!-- NAME -->
    <app-input class="col-sm-9" [form]="form" [field]="'name'" [minlength]="2"
                [maxlength]="1000" [id]="'name'" [label]="'label.name' | translate"
                name="activity.name" [control]="name" #name="ngModel" [(ngModel)]="activity.name"
                required [tooltip]="'tooltip.activity.informNameActivity' | translate"></app-input>

    <!-- DATE ACTIVITY -->
    <app-input-date class="col-sm-3" [form]="form" [field]="'dateActivity'"
                    [id]="'dateActivity'" [label]="'label.dateActivity' | translate"
                    name="activity.dateActivity" [control]="dateActivity" #dateActivity="ngModel" [(ngModel)]="activity.dateActivity"
                    required [tooltip]="'tooltip.activity.informDateDoActivity' | translate"></app-input-date>

  </div>

  <div class="form-group row">
    <!-- TIPO -->
    <app-select class="col-sm-5" [modelList]="true" [list]="listActivityType" [form]="form"
                [field]="'activityType'" [id]="'activityType'" required
                [label]="'label.activityType' | translate" name="activity.activityType" [control]="activityType"
                #activityType="ngModel" [(ngModel)]="activity.activityType"></app-select>

    <!-- HORA(S) -->
    <app-input class="col-sm-3" *ngIf="activity.activityType?.category == 'HOUR'"
                [type]="'number'" [form]="form" [tooltip]="'tooltip.activity.informQuantityHours' | translate"
                [field]="'numberHour'" [id]="'numberHour'" [label]="'Hora(s)'" name="activity.numberHour"
                [control]="numberHour" #numberHour="ngModel"
                [ngModel]="activity.numberHour" required [min]="1"
                (ngModelChange)="activity.numberHour = $event"
                (keyup)="changeInput('numberHour', $event)" (change)="changeInput('numberHour', $event)"></app-input>

    <!-- OCORRÊNCIA(S) -->
    <app-input class="col-sm-3" *ngIf="activity.activityType?.category == 'OCCURRENCE'"
                [type]="'number'" [form]="form" [tooltip]="'tooltip.activity.informQuantityOccurrence' | translate"
                [field]="'numberHour'" [id]="'numberOccurrence'" [label]="'Ocorrência(s)'" name="activity.numberOccurrence"
                [control]="numberOccurrence" #numberOccurrence="ngModel"
                [ngModel]="activity.numberOccurrence" required [min]="1"
                (ngModelChange)="activity.numberOccurrence = $event"
                (keyup)="changeInput('numberOccurrence', $event)" (change)="changeInput('numberOccurrence', $event)"></app-input>
  </div>
  
  <div class="form-group row" *ngIf="activity.activityFiles?.length > 0" style="margin-bottom: 0px">
    <div class="col-sm-3" *ngFor="let file of activity.activityFiles; let i = index">
      <div class="card card-cascade wider" [ngbTooltip]="file.name" placement="bottom">

        <div class="text-center" style="padding-top: 2px;">
          <img class="img-fluid" [src]="getDirectoryImageByExtension(file.type)" alt="Extensão de Arquivo">
          <a class="btn-danger btn-sm btn-close" (click)="deleteFile(i)" style="color: #ffffff; font-weight: bold">x</a>
        </div>

        <div class="label-text" style="padding: 3px;">
          <p class="card-text">
            {{file.name}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <app-file-upload #fileComponent [countFiles]="activity.activityFiles?.length" (fileChange)="onFileChange($event)" maxFiles="4" maxSize="2" fileExt="JPG, GIF, PNG, PDF, DOC, DOCX">
      </app-file-upload>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comebackActivity()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
</form>
