<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">

  <div class="form-group row">
    <!-- TIPO DE ATIVIDADE -->
    <app-input class="col-sm-6" [form]="form" [field]="'name'" minlength="2" maxlength="1000"
                [id]="'name'" [label]="'label.activityType' | translate"
                name="activityType.name" [control]="name" #name="ngModel" [(ngModel)]="activityType.name"
                disabled required></app-input>
    
    <!-- CURSO -->
    <app-select [list]="courses" class="col-sm-6" [form]="form" [field]="'course'" [id]="'course'" [modelList]="true"
                      [label]="'label.course' | translate" name="activityTypeCourse.course" [control]="course"
                      #course="ngModel" [(ngModel)]="activityTypeCourse.course" required></app-select>

    <!-- TIPO -->
    <!-- <app-select [tooltip]="'tooltip.activityTypeCourse.informCourse' | translate" class="col-sm-5" [modelList]="true" [list]="listActivityType" [form]="form"
      [field]="'activityType'" [id]="'activityType'" required
      [label]="'label.activityType' | translate" name="activity.activityType" [control]="activityType"
      #activityType="ngModel" [(ngModel)]="activity.activityType"></app-select> -->
  </div>

  <div class="form-group row">
    <!-- SEMESTRE -->
    <app-input class="col-sm-3" [type]="'text'" [form]="form" [field]="'activityTypeCourse.semester'"
                [id]="'activityTypeCourse.semester'" [label]="'label.semester' | translate" name="activityTypeCourse.semester"
                #semester="ngModel" [ngModel]="activityTypeCourse.semester | semester"
                (ngModelChange)="activityTypeCourse.semester = $event" [maxlength]="6"
                (keyup)="changeInput('semester', $event)" (change)="changeInput('semester', $event)"
                [tooltip]="'tooltip.activityTypeCourse.informSemester' | translate"></app-input>

    <!-- HORA -->    
    <app-input class="col-sm-3" [type]="'number'" [form]="form" [field]="'numberHourMax'"
              [id]="'numberHourMax'" [label]="'label.hourMax' | translate" required
              *ngIf="activityType.category == 'HOUR'"
              name="activityTypeCourse.numberHourMax" [control]="numberHourMax"
              #numberHourMax="ngModel" [ngModel]="activityTypeCourse.numberHourMax"
              (ngModelChange)="activityTypeCourse.numberHourMax = $event"
              (keyup)="changeInput('numberHourMax', $event)" (change)="changeInput('numberHourMax', $event)"></app-input>

    <!-- RELAÇÃO DE HORA -->    
    <app-input class="col-sm-3" [type]="'number'" [form]="form" [field]="'numberHourRelationship'"
              [id]="'numberHourRelationship'" [label]="'label.hourRelationship' | translate" required
              *ngIf="activityType.category == 'HOUR'"
              name="activityTypeCourse.numberHourRelationship" [control]="numberHourRelationship"
              #numberHourRelationship="ngModel" [ngModel]="activityTypeCourse.numberHourRelationship"
              (ngModelChange)="activityTypeCourse.numberHourRelationship = $event"
              (keyup)="changeInput('numberHourRelationship', $event)" (change)="changeInput('numberHourRelationship', $event)"></app-input>
    
    <!-- OCCORRÊNCIA -->
    <app-input class="col-sm-3" [type]="'number'" [form]="form" [field]="'numberHourByOccurrence'"
              [id]="'numberHourByOccurrence'" [label]="'label.hourOccurrence' | translate" [placeholder]="''" required
              name="activityTypeCourse.numberHourByOccurrence" [control]="numberHourByOccurrence"
              *ngIf="activityType.category == 'OCCURRENCE'"
              #numberHourByOccurrence="ngModel" [ngModel]="activityTypeCourse.numberHourByOccurrence"
              (ngModelChange)="activityTypeCourse.numberHourByOccurrence = $event"
              (keyup)="changeInput('numberHourByOccurrence', $event)" (change)="changeInput('numberHourByOccurrence', $event)"></app-input>

    <!-- OCCORRÊNCIA MAX -->
    <app-input class="col-sm-3" [type]="'number'" [form]="form" [field]="'numberOccurrenceMax'"
              [id]="'numberOccurrenceMax'" [label]="'label.hourOccurrenceMax' | translate" [placeholder]="''" required
              name="activityTypeCourse.numberOccurrenceMax" [control]="numberOccurrenceMax"
              *ngIf="activityType.category == 'OCCURRENCE'"
              #numberOccurrenceMax="ngModel" [ngModel]="activityTypeCourse.numberOccurrenceMax"
              (ngModelChange)="activityTypeCourse.numberOccurrenceMax = $event"
              (keyup)="changeInput('numberOccurrenceMax', $event)" (change)="changeInput('numberOccurrenceMax', $event)"></app-input>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
  
</form>