<section class="login p-fixed d-flex text-center common-img-bg">
  <div class="auth-fluid">
    <div class="col-sm-12">
      <div class="login-card card-body auth-body">
        <form class="md-float-material" role="form" #form="ngForm" (submit)="onAuthenticate(form.valid)">

          <div class="auth-box">
            <a href="https://www.faculdadenovaroma.com.br/site/" target="_blank">
              <img class="img-fluid" src="assets/images/FNR/logo_name_fnr_127x75.png" alt="logo_name_fnr_127x75.png">
            </a>

            <div class="row">
              <div class="col-md-12">
                <h3 class="text-left" translate>label.login</h3>
                <p class="text-inverse text-left p-b-5" translate>login.description</p>
              </div>
            </div>

            <!-- LOGIN -->
            <app-input [extraClass]="'pb-20'" [form]="form" [field]="'login'" [id]="'login'" required
                        name="credential.login" [control]="login" #login="ngModel" [maxlength]="50"
                        [(ngModel)]="credential.login" [placeholder]="'Login'"></app-input>

            <!-- PASSWORD -->
            <div class="password-line">
              <app-input [extraClass]="'pb-20'" [form]="form" [field]="'password'" [id]="'password'" required
                          name="credential.password" [control]="password" #password="ngModel" [maxlength]="50"
                          [type]="isShowPassword?'text':'password'" [(ngModel)]="credential.password" [placeholder]="'label.password' | translate"></app-input>
              <button class="btn-show-password" type="button" (click)="showPassword()">
                <i class="icofont" [ngClass]="{'icofont-eye': !isShowPassword, 'icofont-eye-blocked': isShowPassword}"></i>
              </button>
            </div>

            <div class="row m-t-1 text-left">
              <div class="col-sm-12 col-xs-12 forgot-phone text-right">
                <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse">
                  {{'login.forgotPassword' | translate}} :(
                </a>
              </div>
            </div>

            <div class="row m-t-10">
              <div class="col-md-12">
                <button type="submit"
                        [ngClass]="{'btn-primary': credential.login && credential.password && !isLoaderAuthentication}"
                        [disabled]="!credential.login && !credential.password && !isLoaderAuthentication"
                        class="btn btn-md btn-block waves-effect text-center m-b-20" translate>
                        <i class="ti-reload rotate-refresh" *ngIf="isLoaderAuthentication"></i>
                        button.enter</button>
              </div>
            </div>

            <div class="row m-b-2">
              <div class="col-md-10">
                <p class="text-inverse m-t-10 text-left" translate>login.descriptionForgot
                  <b>:)</b>
                </p>
              </div>

              <div class="col-md-2">
                <a href="https://www.faculdadenovaroma.com.br/site/" target="_blank">
                  <img class="img-fluid img-circle" src="assets/images/FNR/logo_fnr_48x48.png" alt="logo_fnr_48x48.png">
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>