<div class="alert-list">
  <div *ngFor="let alert of getAlerts()" [@animation]="getAnimation()" >
    <alert [alert]="alert" [isTranslate]="alert.isTranslate" [htmlTextEnabled]="htmlTextEnabled" (dismissed)="remove(alert)"></alert>
  </div>
</div>