.td-center{
    text-align: center;
    width: 150px;
}

.form-check input {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    margin-left: -5px;
}