<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
  <div class="form-group row">
    <!-- NAME -->
    <app-input class="col-sm-12" [form]="form" [field]="'name'" [maxlength]="30" [id]="'name'" required [label]="'label.name' | translate"
      name="profile.name" [control]="name" #name="ngModel" [(ngModel)]="profile.name"></app-input>
  </div>

  <div class="form-group row">
    <!-- HIERARQUIA -->
    <app-select class="col-sm-4" [modelList]="true" [list]="listHierarchy" [form]="form" [field]="'hierarchy'" [id]="'hierarchy'"
      required [label]="'label.hierarchy' | translate" name="profile.hierarchy" [control]="hierarchy" #hierarchy="ngModel"
      [(ngModel)]="profile.hierarchy"></app-select>

    <!-- TIPO -->
    <app-select class="col-sm-4" [modelList]="true" [list]="listProfileType" [form]="form" [field]="'type'" [id]="'profileType'"
      required [label]="'label.type' | translate" name="profile.type" [control]="profileType" #profileType="ngModel" [(ngModel)]="profile.type"></app-select>
  </div>

  <app-card [title]="'label.permissions' | translate" [classHeader]="true" [buttonClose]="false" [cardToggle]="'collapsed'">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-nr">
          <th translate>label.permission</th>
          <th translate>label.read</th>
          <th translate>label.create</th>
          <th translate>label.update</th>
          <th translate>label.delete</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoaded">
        <tr>
          <td colspan="6" class="text-center">
            <i class="ti-reload rotate-refresh"></i>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngIf="isLoaded && dataProvider.length == 0">
          <td colspan="6" class="text-center" translate>dataProviderLengthZero.permission</td>
        </tr>
        <tr *ngFor="let item of dataProvider; let i = index">
          <td>{{item.permission.name}}</td>
          <td class="td-center">
            <div class="form-check">
              <input class="form-check-input check-no-label" [checked]="item.read" type="checkbox" [id]="item.id" [name]="item.read" [disabled]="disabledRead(item)"
                (change)="item.read = !item.read">
            </div>
          </td>
          <td class="td-center">
            <div class="form-check">
              <input class="form-check-input check-no-label" [checked]="item.insert" type="checkbox" [id]="item.id" [name]="item.insert"
                [disabled]="item.disabledInsert" *ngIf="item.permission.crud" (change)="changePermission(item, 'insert')">
            </div>
          </td>
          <td class="td-center">
            <div class="form-check">
              <input class="form-check-input check-no-label" [checked]="item.update" type="checkbox" [id]="item.id" [name]="item.update"
                [disabled]="item.disabledUpdate" *ngIf="item.permission.crud" (change)="changePermission(item, 'update')">
            </div>
          </td>
          <td class="td-center">
            <div class="form-check">
              <input class="form-check-input check-no-label" [checked]="item.delete" type="checkbox" [id]="item.id" [name]="item.delete"
                [disabled]="item.disabledDelete" *ngIf="item.permission.crud" (change)="changePermission(item, 'delete')">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </app-card>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>

  <div class="row"></div>
</form>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>