<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
  <div class="form-group row">
    <!-- NAME -->
    <app-input class="col-sm-12" [form]="form" [field]="'name'"
                [maxlength]="1000" [id]="'name'"
                [label]="'label.name' | translate" name="profileType.name" [control]="name"
                #name="ngModel" [(ngModel)]="profileType.name"
                required [tooltip]="'tooltip.profileType.informNameActivity' | translate"></app-input>
  </div>

  <div class="form-group row">
    <!-- PERFIL -->
    <app-select class="col-sm-3" [modelList]="true" [list]="listCategory"
                [form]="form" [field]="'category'" [id]="'category'" required
                [label]="'label.category' | translate" name="profileType.category" [control]="category"
                #category="ngModel" [(ngModel)]="profileType.category"></app-select>
  </div>

  <div class="form-group row">
    <!-- DESCRIÇÃO -->
    <app-textarea class="col-sm-12" [form]="form" [field]="'description'"
                [maxlength]="1000" [id]="'description'" required [rows]="5"
                [label]="'label.description' | translate" name="profileType.description" [control]="description"
                #description="ngModel" [(ngModel)]="profileType.description"></app-textarea>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>

  <div class="row"></div>
</form>