<div class="table-responsive">
  <button class="btn btn-primary-2" routerLink="/discipline/new">
    <i class="icofont icofont-plus"></i> 
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-nr">
        <th class="text-center">
          <i class="icofont icofont-thin-down"></i>
        </th>
        <th translate>label.name</th>
        <th translate>label.hours</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoaded">
      <tr>
        <td colspan="3" class="text-center">
          <i class="ti-reload rotate-refresh"></i>
        </td>
      </tr>
    </tbody>
    <tbody *ngFor="let itens of dataProvider">
      <tr *ngIf="itens.length == 0">
        <td colspan="3" class="text-center" translate>dataProviderLengthZero.discipline</td>
      </tr>
      <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
        <td class="td-actions">
          <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_DISCIPLINE_UPDATE'">
            <i class="icofont icofont-ui-edit"></i>
          </button>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.numberHour }}</td>
      </tr>
    </tbody>
  </table>
</div>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'"
                    [label]="'label.name' | translate" [field]="'name'" name="selectedDiscipline.name"
                    [(ngModel)]="selectedDiscipline.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHour'"
                    [label]="'label.hours' | translate" [field]="'name'" name="selectedDiscipline.numberHour"
                    [(ngModel)]="selectedDiscipline.numberHour"></app-input>
      </div>
      
      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedDiscipline.dateInsert"
                    [ngModel]="selectedDiscipline.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedDiscipline.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedDiscipline.userInsert.name"
                    [ngModel]="selectedDiscipline.userInsert?.name"
                    (ngModelChange)="selectedDiscipline.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedDiscipline.dateUpdate"
                    [ngModel]="selectedDiscipline.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedDiscipline.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedDiscipline.userUpdate.name"
                    [ngModel]="selectedDiscipline.userUpdate?.name"
                    (ngModelChange)="selectedDiscipline.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedDiscipline)" *ngIfPermission="'ROLE_DISCIPLINE_DELETE'">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>