<footer class="footer">
    <div style="width: 100%">
        <div class="py-1 d-flex align-items-center" style="background-color: #2E2E2E; color: #FFFFFF;">
            <div class="row col-md-12">
                <p class="text-center">
                    © {{date.getFullYear()>2018?"2017 - " + date.getFullYear():date.getFullYear()}} Copyright: R&R Developers.
                    {{'footer.developedBy' | translate}}
                    <i class="icofont icofont-social-linkedin"></i>
                    <a href="https://www.linkedin.com/in/paulo-renato/" target="_blank">
                        <strong>Paulo Renato</strong>
                    </a> {{'label.and' | translate}}
                    <i class="icofont icofont-social-linkedin"></i>
                    <a href="https://www.linkedin.com/in/binhoferreira1994/" target="_blank">
                        <strong>Rubens Ferreira</strong>
                    </a>.
                </p>
            </div>
        </div>
    </div>
</footer>