<div class="table-responsive">
  <button class="btn btn-primary-2" routerLink="/profile/new">
    <i class="icofont icofont-plus"></i> 
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-nr">
        <th class="text-center">
          <i class="icofont icofont-thin-down"></i>
        </th>
        <th translate>label.name</th>
        <th translate>label.type</th>
        <th translate>label.hierarchy</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoaded">
      <tr>
        <td colspan="4" class="text-center">
          <i class="ti-reload rotate-refresh"></i>
        </td>
      </tr>
    </tbody>
    <tbody *ngFor="let itens of dataProvider">
      <tr *ngIf="itens.length == 0">
        <td colspan="4" class="text-center" translate>dataProviderLengthZero.profile</td>
      </tr>
      <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
        <td class="td-actions">
          <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_PROFILE_UPDATE'">
            <i class="icofont icofont-ui-edit"></i>
          </button>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.type.name }}</td>
        <td>{{ item.hierarchy }}</td>
      </tr>
    </tbody>
  </table>
</div>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'"
                    [label]="'label.name' | translate" [field]="'name'" name="selectedProfile.name"
                    [(ngModel)]="selectedProfile.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'type'"
                    [label]="'label.type' | translate" [field]="'name'" name="selectedProfile.type.name"
                    [(ngModel)]="selectedProfile.type.name"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'hierarchy'"
                    [label]="'label.hierarchy' | translate" [field]="'name'" name="selectedProfile.hierarchy"
                    [(ngModel)]="selectedProfile.hierarchy"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedProfile.dateInsert"
                    [ngModel]="selectedProfile.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedProfile.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedProfile.userInsert.name"
                    [ngModel]="selectedProfile.userInsert?.name"
                    (ngModelChange)="selectedProfile.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedProfile.dateUpdate"
                    [ngModel]="selectedProfile.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedProfile.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedProfile.userUpdate.name"
                    [ngModel]="selectedProfile.userUpdate?.name"
                    (ngModelChange)="selectedProfile.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedProfile)" *ngIfPermission="'ROLE_PROFILE_DELETE'">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>