<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
  <div class="form-group row">
    <!-- NOME -->
    <app-input class="col-sm-12" [form]="form" [field]="'name'"
                [maxlength]="50" [id]="'name'" required
                [label]="'label.name' | translate" name="permission.name" [control]="name"
                [tooltip]="'tooltip.permission.informPermission' | translate"
                #name="ngModel" [(ngModel)]="permission.name"></app-input>
  </div>

  <div class="form-group row">
    <!-- SYSTEM -->
    <app-input-check class="col-sm-5" [form]="form" [field]="'name'" [id]="'permission.crud'"
                    name="permission.crud" [control]="permission.crud" [label]="'label.permissionCrud' | translate"
                    #insert="ngModel" [(ngModel)]="permission.crud"></app-input-check>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
</form>