.carousel {
  width: 100%;
  padding: 15px;
}

.btn-download {
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 50px;
  text-decoration: none;
  top: 10px;
}

.ribbon.label {
  left: calc(5.05rem - 1.2em) !important;
  padding-left: calc(1rem + 0em) !important;
  padding-right: 2.2em !important;
  cursor: pointer !important;
  height: 50px !important;
  width: 0px !important;
  padding-top: 15px !important;
  top: -5px !important;
}

.btn-outline-secondary {
  cursor: not-allowed;
}

.badge-pending {
  background-color: #868e96;
  color: #ffffff;
}

.badge-approved {
  background-color: #8bc34a;
  color: #ffffff;
}

.badge-rejected {
  background-color: #db4437;
  color: #ffffff;
}

.badge-created {
  background-color: #3498db;
  color: #ffffff;
}

span.badge {
  height: 22px;
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
}
