<div class="table-responsive">
  <button class="btn btn-primary-2" (click)="newActivity()">
    <i class="icofont icofont-plus"></i>
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<form #form="ngForm" class="form-group row" *ngIf="loggedUser.typeProfile != 'STUDENT'">
  <!-- USER MATRICULA -->
  <app-autocomplete [list]="students" (search)="findStudents()" [displayProperty]="'login'" [displayPropertyExtra]="'name'" [isFiltered]="isFiltered"
    (selectItem)="selectStudent($event)" class="col-sm-3" [form]="form" [field]="'selectedStudent.login'" [id]="'student'"
    [label]="'label.studentLogin' | translate" name="selectedStudent" [control]="studentLogin" #studentLogin="ngModel" [(ngModel)]="selectedStudent.login"
    [required]="studentRequired" [disabled]="isStudent" [tooltip]="'tooltip.activity.informRegistrationStudent' | translate"></app-autocomplete>

  <!-- USER NAME -->
  <app-input class="col-sm-9" [form]="form" [field]="'selectedStudent.name'" minlength="2" maxlength="1000" [id]="'student.name'"
    [label]="'label.studentName' | translate" name="selectedStudent.name" [control]="studentName" #studentName="ngModel" [(ngModel)]="selectedStudent.name"
    disabled [tooltip]="'tooltip.activity.informFieldLogin' | translate"></app-input>
</form>

<ngb-tabset justify="justified">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b translate>label.hour</b>
      <span class="badge table-badge badge-info" *ngIf="pendingActivityHour > 0" [ngbTooltip]="'tooltip.activity.quantityActivityPending' | translate">{{pendingActivityHour}}</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="child-tab">

        <br/>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-nr">
                <th class="text-center">
                  <i class="icofont icofont-thin-down"></i>
                </th>
                <th translate>label.name</th>
                <th translate>label.status</th>
                <th translate>label.hours</th>
                <th translate>label.hoursAccounted</th>
                <th translate>label.glosa</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoaded">
              <tr>
                <td colspan="6" class="text-center">
                  <i class="ti-reload rotate-refresh"></i>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngIf="isLoaded && filterItemsOfType('HOUR')?.length == 0?loggedUser.typeProfile != 'STUDENT':false">
                <td colspan="6" class="text-center" *ngIf="!isFiltered" translate>dataProviderLengthZero.noFilter</td>
                <td colspan="6" class="text-center" *ngIf="isFiltered" translate>dataProviderLengthZero.activity</td>
              </tr>
              <tr *ngIf="isLoaded && filterItemsOfType('HOUR')?.length == 0?loggedUser.typeProfile == 'STUDENT':false">
                <td colspan="6" class="text-center" translate>dataProviderLengthZero.activity</td>
              </tr>
              <tr *ngFor="let item of filterItemsOfType('HOUR')" (click)="openModalDetails(item)">
                <td class="td-actions">
                  <button class="btn btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_ACTIVITY_UPDATE'" [disabled]="item.status !== 'PENDING'"
                    [ngClass]="item.status === 'PENDING' ? 'btn-outline-warning': 'btn-outline-secondary'">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td>{{ item.name }}</td>
                <td style="text-align: center">
                  <span class="badge badge-{{getStatus(item.status)}}" translate>{{item.status}}</span>
                </td>
                <td>{{ item.numberHour }}</td>
                <td>{{ item.numberHourAccounted }}</td>
                <td>{{ item.numberHourGlosa }}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="filterItemsOfType('HOUR')?.length > 0">
              <tr>
                <td colspan="2"></td>
                <td class="text-right background-totality" translate>label.total</td>
                <td class="background-totality">{{sumByTypeAndProperty('HOUR', 'numberHour')}}</td>
                <td class="background-totality">{{sumByTypeAndProperty('HOUR', 'numberHourAccounted')}}</td>
                <td class="background-totality">{{sumByTypeAndProperty('HOUR', 'numberHourGlosa')}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <b translate>label.occurrence</b>
      <span class="badge table-badge badge-info" *ngIf="pendingActivityOccurrence > 0" [ngbTooltip]="'tooltip.activity.quantityActivityPending' | translate">{{pendingActivityOccurrence}}</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="child-tab">

        <br/>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-nr">
                <th class="text-center">
                  <i class="icofont icofont-thin-down"></i>
                </th>
                <th translate>label.name</th>
                <th translate>label.status</th>
                <th translate>label.occurrences</th>
                <th translate>label.occurrencesAccounted</th>
                <th translate>label.glosa</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoaded">
              <tr>
                <td colspan="6" class="text-center">
                  <i class="ti-reload rotate-refresh"></i>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngIf="isLoaded && filterItemsOfType('OCCURRENCE')?.length == 0?loggedUser.typeProfile != 'STUDENT':false">
                <td colspan="6" class="text-center" *ngIf="!isFiltered" translate>dataProviderLengthZero.noFilter</td>
                <td colspan="6" class="text-center" *ngIf="isFiltered" translate>dataProviderLengthZero.activity</td>
              </tr>
              <tr *ngIf="isLoaded && filterItemsOfType('OCCURRENCE')?.length == 0?loggedUser.typeProfile == 'STUDENT':false">
                <td colspan="6" class="text-center" translate>dataProviderLengthZero.activity</td>
              </tr>
              <tr *ngFor="let item of filterItemsOfType('OCCURRENCE')" (click)="openModalDetails(item)">
                <td class="td-actions">
                  <button class="btn btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_ACTIVITY_UPDATE'" [disabled]="item.status !== 'PENDING'"
                    [ngClass]="item.status === 'PENDING' ? 'btn-outline-warning': 'btn-outline-secondary'">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td>{{ item.name }}</td>
                <td style="text-align: center">
                  <span class="badge badge-{{getStatus(item.status)}}" translate>{{item.status}}</span>
                </td>
                <td>{{ item.numberOccurrence }}</td>
                <td>{{ item.numberOccurrenceAccounted }}</td>
                <td>{{ item.numberOccurrenceGlosa }}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="filterItemsOfType('OCCURRENCE')?.length > 0">
              <tr>
                <td colspan="2"></td>
                <td class="text-right background-totality" translate>label.total</td>
                <td class="background-totality">{{sumByTypeAndProperty('OCCURRENCE', 'numberOccurrence')}}</td>
                <td class="background-totality">{{sumByTypeAndProperty('OCCURRENCE', 'numberOccurrenceAccounted')}}</td>
                <td class="background-totality">{{sumByTypeAndProperty('OCCURRENCE', 'numberOccurrenceGlosa')}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <b translate>label.general</b>
      <span class="badge table-badge badge-info" *ngIf="pendingActivity > 0" [ngbTooltip]="'tooltip.activity.quantityActivityPending' | translate">{{pendingActivity}}</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="child-tab">

        <br/>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-nr">
                <th class="text-center">
                  <i class="icofont icofont-thin-down"></i>
                </th>
                <th translate>label.name</th>
                <th translate>label.type</th>
                <th translate>label.status</th>
                <th translate>label.hoursAccounted</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoaded">
              <tr>
                <td colspan="7" class="text-center">
                  <i class="ti-reload rotate-refresh"></i>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngIf="isLoaded && dataProvider?.length == 0?loggedUser.typeProfile != 'STUDENT':false">
                <td colspan="7" class="text-center" *ngIf="!isFiltered" translate>dataProviderLengthZero.noFilter</td>
                <td colspan="7" class="text-center" *ngIf="isFiltered" translate>dataProviderLengthZero.activity</td>
              </tr>
              <tr *ngIf="isLoaded && dataProvider?.length == 0?loggedUser.typeProfile == 'STUDENT':false">
                <td colspan="7" class="text-center" translate>dataProviderLengthZero.activity</td>
              </tr>
              <tr *ngFor="let item of dataProvider" (click)="openModalDetails(item)">
                <td class="td-actions">
                  <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_ACTIVITY_UPDATE'">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.activityType.name }}</td>
                <td style="text-align: center">
                  <span class="badge badge-{{getStatus(item.status)}}" translate>{{item.status}}</span>
                </td>
                <td>{{ item.numberHourAccounted}}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="dataProvider?.length > 0">
              <tr>
                <td colspan="3"></td>
                <td class="text-right background-totality" translate>label.total</td>
                <td class="background-totality">{{sumByGeneral()}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<!-- DETAILS MODAL -->
<ngx-smart-modal #modalDetail identifier="modalDetail">
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>

  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="form-group row" *ngIf="loggedUser.typeProfile == 'SECRETARY'?selectedActivity.status == 'PENDING':false">
        <div class="col-sm-12 text-center">
          <button class="btn btn-outline-danger" (click)="approveOrRejectActivity(selectedActivity, false)" translate>
            <i class="icofont icofont-error"></i>
            button.reject
          </button>
          <button class="btn btn-outline-success" (click)="approveOrRejectActivity(selectedActivity)" translate>
            <i class="icofont icofont-verification-check"></i>
            button.approval
          </button>
        </div>
      </div>

      <div class="row" *ngIf="loggedUser.typeProfile != 'STUDENT'">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'" [label]="'label.student' | translate"
          name="selectedActivity.student.name" [(ngModel)]="selectedActivity.student.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'" [label]="'label.name' | translate"
          name="selectedActivity.name" [(ngModel)]="selectedActivity.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'status'" [label]="'label.status' | translate"
          name="selectedActivity.status" [ngModel]="selectedActivity.status | translate" (ngModelChange)="selectedActivity.status = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateActivity'" [label]="'label.dateActivity' | translate"
          name="selectedActivity.dateActivity" [ngModel]="selectedActivity.dateActivity | dateFormat" (ngModelChange)="selectedActivity.dateActivity = $event"></app-input>
      </div>

      <div class="row" *ngIf="selectedActivity.activityType.category =='HOUR'">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHour'" [label]="'label.hours' | translate"
          name="selectedActivity.numberHour" [(ngModel)]="selectedActivity.numberHour"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHourAccounted'" [label]="'label.hoursAccounted' | translate"
          name="selectedActivity.numberHourAccounted" [(ngModel)]="selectedActivity.numberHourAccounted"></app-input>
      </div>

      <div class="row" *ngIf="selectedActivity.activityType.category =='HOUR'">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberHourGlosa'" [label]="'label.glosa' | translate"
          name="selectedActivity.numberHourGlosa" [(ngModel)]="selectedActivity.numberHourGlosa"></app-input>

      </div>

      <div class="row" *ngIf="selectedActivity.activityType.category =='OCCURRENCE'">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberOccurrence'" [label]="'label.occurrence' | translate"
          name="selectedActivity.numberOccurrence" [(ngModel)]="selectedActivity.numberOccurrence"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberOccurrenceAccounted'" [label]="'label.occurrencesAccounted' | translate"
          name="selectedActivity.numberOccurrenceAccounted" [(ngModel)]="selectedActivity.numberOccurrenceAccounted"></app-input>
      </div>

      <div class="row" *ngIf="selectedActivity.activityType.category =='OCCURRENCE'">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'numberOccurrenceGlosa'" [label]="'label.glosa' | translate"
          name="selectedActivity.numberOccurrenceGlosa" [(ngModel)]="selectedActivity.numberOccurrenceGlosa"></app-input>

      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'" [label]="'label.insertedIn' | translate"
          name="selectedActivity.dateInsert" [ngModel]="selectedActivity.dateInsert | dateTimeFormat" (ngModelChange)="selectedActivity.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'" [label]="'label.insertedBy' | translate"
          name="selectedActivity.userInsert.name" [ngModel]="selectedActivity.userInsert?.name" (ngModelChange)="selectedActivity.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'" [label]="'label.updatedIn' | translate"
          name="selectedActivity.dateUpdate" [ngModel]="selectedActivity.dateUpdate | dateTimeFormat" (ngModelChange)="selectedActivity.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'" [label]="'label.updatedBy' | translate"
          name="selectedActivity.userUpdate.name" [ngModel]="selectedActivity.userUpdate?.name" (ngModelChange)="selectedActivity.userUpdate.name = $event"></app-input>
      </div>

      <div class="row" *ngIf="selectedActivity.activityFiles?.length > 0">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let activity of selectedActivity.activityFiles; let i = index">

            <div class="card-cascade wider bg-secondary" style="padding: 5px; padding-bottom: 20px; border-radius: 5px;">
              <div class="text-center">
                <a class="ribbon label btn-info btn-sm btn-download" href="javascript:;" (click)="download(activity)">
                  <i class="icofont icofont-download-alt" [ngbTooltip]="'tooltip.activity.downloadFile' | translate" placement="right"></i>
                </a>

                <img class="img-rounded img-responsive img-fluid" *ngIf="activity.type != 'application/pdf'" [src]="'data:'+activity.type+';base64,'+activity.file"
                  style="cursor: pointer" alt="Extensão de Arquivo" (click)="openNewTab('data:'+activity.type+';base64,'+activity.file)"
                  [ngbTooltip]="activity.name" placement="right">

                <img class="img-rounded img-responsive img-fluid" *ngIf="activity.type == 'application/pdf'" [src]="getDirectoryImageByExtension(activity.type)"
                  style="cursor: pointer" alt="Extensão de Arquivo" (click)="openNewTab('data:'+activity.type+';base64,'+activity.file)"
                  [ngbTooltip]="activity.name" placement="right">

                <img class="img-rounded img-responsive img-fluid" *ngIf="activity.type == ''" [src]="getDirectoryImageByExtension(activity.type)"
                  style="cursor: pointer" alt="Extensão de Arquivo" (click)="openNewTab('data:'+activity.type+';base64,'+activity.file)"
                  [ngbTooltip]="activity.name" placement="right">
              </div>
            </div>

          </ng-template>
        </ngb-carousel>
      </div>

      <!-- DIV HISTÓRICO -->
      <div class="row p-15">
        <table class="table table-bordered">
          <thead>
            <th translate>label.history</th>
          </thead>
          <tbody>
            <tr *ngFor="let history of selectedActivityHistory">
              <td>
                <span class="badge badge-{{getStatus(history.statusFrom)}}" translate>{{history.statusFrom}}</span>
                <i class="icofont icofont-arrow-right"></i>
                <span class="badge badge-{{getStatus(history.statusTo)}}" translate>{{history.statusTo}}</span>
                em {{history.dateInsert | dateFormat }} por {{history.userInsert.name}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button class="btn" (click)="delete(selectedActivity)" *ngIfPermission="'ROLE_ACTIVITY_DELETE'" [disabled]="selectedActivity.status !== 'PENDING'"
            [ngClass]="selectedActivity.status === 'PENDING' ? 'btn-outline-danger': 'btn-outline-secondary'" translate>
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>