<div class="table-responsive">
  <button class="btn btn-primary-2" routerLink="/users/new">
    <i class="icofont icofont-plus"></i> 
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-nr">
        <th class="text-center">
          <i class="icofont icofont-thin-down"></i>
        </th>
        <th translate>label.login</th>
        <th translate>label.name</th>
        <th translate>label.cpf</th>
        <th translate>label.course</th>
        <th translate>label.profile</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoaded">
      <tr>
        <td colspan="6" class="text-center">
          <i class="ti-reload rotate-refresh"></i>
        </td>
      </tr>
    </tbody>
    <tbody *ngFor="let itens of dataProvider">
      <tr *ngIf="itens.length == 0">
        <td colspan="6" class="text-center" translate>dataProviderLengthZero.user</td>
      </tr>
      <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
        <td class="td-actions">
          <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_USER_UPDATE'">
            <i class="icofont icofont-ui-edit"></i>
          </button>
        </td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.cpf | cpf}}</td>
        <td>{{ item.course.name }}</td>
        <td>{{ item.profile.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'login'"
                    [label]="'label.login' | translate" [field]="'name'" name="selectedUser.login"
                    [(ngModel)]="selectedUser.login"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'cpf'"
                    [label]="'label.cpf' | translate" [field]="'name'" name="selectedUser.cpf"
                    [ngModel]="selectedUser.cpf | cpf" (ngModelChange)="selectedUser.cpf = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'"
                    [label]="'label.name' | translate" [field]="'name'" name="selectedUser.name"
                    [(ngModel)]="selectedUser.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'course'"
                    [label]="'label.course' | translate" [field]="'name'" name="selectedUser.course.name"
                    [(ngModel)]="selectedUser.course.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'profile'"
                    [label]="'label.profile' | translate" [field]="'name'" name="selectedUser.profile.name"
                    [(ngModel)]="selectedUser.profile.name"></app-input>
      </div>
    
      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedUser.dateInsert"
                    [ngModel]="selectedUser.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedUser.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedUser.userInsert.name"
                    [ngModel]="selectedUser.userInsert?.name"
                    (ngModelChange)="selectedUser.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedUser.dateUpdate"
                    [ngModel]="selectedUser.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedUser.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedUser.userUpdate.name"
                    [ngModel]="selectedUser.userUpdate?.name"
                    (ngModelChange)="selectedUser.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedUser)" *ngIfPermission="'ROLE_USER_DELETE'">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>