<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left"
  vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect"
  vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

    <!-- nav-bar -->
    <nav class="navbar header-navbar pcoded-header bg-nova-roma" header-theme="theme4">
      <div class="navbar-wrapper">

        <div class="navbar-logo" navbar-theme="theme5">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/FNR/logo_name_fnr_127x75.png" alt="Faculdade Nova Roma" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle">
                  <a href="javascript:;" (click)="toggleOpened()">
                    <i class="ti-menu f-18"></i>
                  </a>
                </div>
              </li>
              <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
            </ul>

            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">

              <li class="header-notification lng-dropdown">
                <a class="ng-tns-c1-0" href="javascript:;" id="dropdown-active-item">
                  <i class="flag-icon m-r-5" [ngClass]="{'flag-icon-br': language.id == 'pt', 
                                                          'flag-icon-gb': language.id == 'en', 
                                                          'flag-icon-es': language.id == 'es', 
                                                          'flag-icon-fr': language.id == 'fr'}"></i>
                                                          <span>{{language.name}}</span>
                                                          <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification">
                  <li class="ng-tns-c1-0" (click)="changeLanguage('pt')">
                    <a class="ng-tns-c1-0" data-lng="pt" href="javascript:;">
                      <i class="flag-icon flag-icon-br m-r-5"></i> Português
                    </a>
                  </li>
                  <li class="ng-tns-c1-0" (click)="changeLanguage('en')">
                    <a class="ng-tns-c1-0" data-lng="en" href="javascript:;">
                      <i class="flag-icon flag-icon-gb m-r-5"></i> English
                    </a>
                  </li>
                  <li class="ng-tns-c1-0" (click)="changeLanguage('es')">
                    <a class="ng-tns-c1-0" data-lng="es" href="javascript:;">
                      <i class="flag-icon flag-icon-es m-r-5"></i> Español
                    </a>
                  </li>
                  <li class="ng-tns-c1-0" (click)="changeLanguage('fr')">
                    <a class="ng-tns-c1-0" data-lng="fr" href="javascript:;">
                      <i class="flag-icon flag-icon-fr m-r-5"></i> Français
                    </a>
                  </li>
                </ul>
              </li>

              <li class="user-profile header-notification">
                <a href="javascript:">
                  <img src="assets/images/user.png" alt="User-Profile-Image">
                  <span>{{userProfile}}</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a (click)="openModal()" role="button">
                      <i class="ti-layout-sidebar-left"></i>
                      {{ 'label.logout' | translate }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- end nav-bar -->

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">

        <!-- menu -->
        <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2" active-item-style="style0"
          pcoded-navbar-position="absolute" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">

          <div class="sidebar_toggle">
            <a href="javascript:;">
              <i class="icon-close icons"></i>
            </a>
          </div>

          <div class="pcoded-inner-navbar main-menu bg-nova-roma" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff"
            opacity="0.3" allowPageScroll="false">
            <div>

              <div *ngFor="let asideItems of menuItems" style="border-top-color: white">
                <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">{{asideItems.label | translate}}</div>
                <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" *ngFor="let asideItem of asideItems.childrens"
                  appAccordionLink group="'{{asideItem.state}}'">

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink group="'{{asideItem.state}}'">
                    <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                      </span>
                      <span class="pcoded-mtext">{{ asideItem.name | translate }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="'{{asideItem.state}}'">
                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle
                      *ngIf="asideItem.main_state; else: mainContent">
                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                      </span>
                      <span class="pcoded-mtext">{{ asideItem.name | translate }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>

                    <ng-template #mainContent>
                      <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                        <span class="pcoded-micon">
                          <i class="{{ asideItem.icon }}"></i>
                        </span>
                        <span class="pcoded-mtext">{{ asideItem.name | translate }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                    appAccordionLink group="'{{asideItem.state}}'">
                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                      <span class="pcoded-micon">
                        <i class="{{ asideItem.icon }}"></i>
                      </span>
                      <span class="pcoded-mtext">{{ asideItem.name | translate }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>

                    <ul class="pcoded-submenu">
                      <ng-template ngFor let-asideChildren [ngForOf]="asideItem.childrens">
                        <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                          <a [routerLink]="['/', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                            <span class="pcoded-micon">
                              <i class="ti-angle-right"></i>
                            </span>
                            <span class="pcoded-mtext">{{ asideChildren.name | translate }} </span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>

                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" *ngIf="asideChildren.type === 'sub'"
                          appAccordionLink [group]="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon">
                              <i class="ti-direction-alt"></i>
                            </span>
                            <span class="pcoded-mtext">{{ asideChildren.name | translate }}</span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>

                          <ul class="pcoded-submenu">
                            <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.childrens">
                              <li [routerLinkActive]="['active']">
                                <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                  <span class="pcoded-micon">
                                    <i class="ti-angle-right"></i>
                                  </span>
                                  <span class="pcoded-mtext">{{ asideChildrenSub.name | translate }}</span>
                                  <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>
                            </ng-template>
                          </ul>

                        </li>
                      </ng-template>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <!-- end menu -->

        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="page-body">
                  <router-outlet>
                    <spinner></spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<alert-confirmation [body]="'label.confirmLogout'" (eventConfirm)="onLogout($event)"></alert-confirmation>