<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">

    <div class="form-group row">
      <!-- COURSE -->
      <app-input class="col-sm-5" [form]="form" [field]="'name'" [id]="'name'" [label]="'label.course' | translate"
                  name="course.name" [control]="name" #name="ngModel" [(ngModel)]="course.name" disabled
                  required></app-input>
  
      <!-- DISCIPLINAS -->
      <app-autocomplete [list]="disciplines" (search)="findDiscipline()" [displayProperty]="'name'" (selectItem)="selectDiscipline($event)"
                        class="col-sm-7" [form]="form" [field]="'discipline'" [id]="'discipline'" [isFiltered]="isFiltered"
                        [label]="'label.discipline' | translate" name="courseDiscipline.discipline.name" [control]="disciplineName"
                        #disciplineName="ngModel" [(ngModel)]="discipline.name"
                        [tooltip]="'tooltip.courseDiscipline.informDiscipline' | translate" required></app-autocomplete>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-12 text-right">
        <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
          <i class="icofont icofont-arrow-left"></i> 
          {{'button.back' | translate}}
        </button>
        <button class="btn btn-success" [disabled]="isLoading">
          <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
          <i class="icofont icofont-save" *ngIf="!isLoading"></i>
          {{'button.save' | translate}}
        </button>
      </div>
    </div>
  
    <div class="row"></div>
  
  </form>