<ngb-tabset justify="justified">
  <ngb-tab title="{{course.id > 0? titleAba : 'title.newCourse' | translate}}">
    <ng-template ngbTabContent>
      <div class="child-tab">
        
        <form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
          <div class="form-group row">
            <!-- CODIGO -->
            <app-input class="col-sm-2" [form]="form" [field]="'code'"
                        [maxlength]="10" [id]="'code'" required
                        [label]="'label.code' | translate" name="course.code" [control]="code"
                        #code="ngModel" [(ngModel)]="course.code"></app-input>

            <!-- NAME -->
            <app-input class="col-sm-10" [form]="form" [field]="'name'"
                        [maxlength]="1000" [id]="'name'" required
                        [label]="'label.name' | translate" name="course.name" [control]="name"
                        #name="ngModel" [(ngModel)]="course.name"></app-input>
          </div>

          <div class="form-group row">
            <!-- HORA(S) -->
            <app-input class="col-sm-3" [type]="'number'"
                      [form]="form" [field]="'numberHourMax'" required [min]="1"
                      [id]="'numberHourMax'" [label]="'label.hourMax' | translate" name="course.numberHourMax"
                      [control]="numberHourMax" #numberHourMax="ngModel" [(ngModel)]="course.numberHourMax"
                      (keyup)="changeInput('numberHourMax', $event)" (change)="changeInput('numberHourMax', $event)"></app-input>
          </div>

          <div class="form-group row">
            <div class="col-sm-12 text-right">
              <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
                <i class="icofont icofont-arrow-left"></i> 
                {{'button.back' | translate}}
              </button>
              <button class="btn btn-success" [disabled]="isLoading">
                <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
                <i class="icofont icofont-save" *ngIf="!isLoading"></i>
                {{'button.save' | translate}}
              </button>
            </div>
          </div>

          <div class="row"></div>
        </form>
        
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="{{ 'title.disciplines' | translate}}"  [disabled]="!modelEdit">
    <ng-template ngbTabContent>
        <div class="child-tab">

        <br/>

        <div class="table-responsive">
          <button class="btn btn-primary-2" routerLink="/course/edit/{{course.id}}/course-discipline/new">
            <i class="icofont icofont-plus"></i> 
            {{'button.new' | translate}}
          </button>
        </div>

        <br/>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-nr">
                <th class="text-center">
                  <i class="icofont icofont-thin-down"></i>
                </th>
                <th translate>label.discipline</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoaded">
              <tr>
                <td colspan="2" class="text-center">
                  <i class="ti-reload rotate-refresh"></i>
                </td>
              </tr>
            </tbody>
            <tbody *ngFor="let itens of dataProvider">
              <tr *ngIf="itens.length == 0">
                <td colspan="2" class="text-center" translate>dataProviderLengthZero.discipline</td>
              </tr>
              <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
                <td class="td-actions">
                  <button class="btn btn-outline-warning btn-sm" (click)="edit(item)" *ngIfPermission="'ROLE_COURSE_DISCIPLINE_UPDATE'">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td>{{ item.discipline.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<alert-confirmation (eventConfirm)="confirmDelete($event)"></alert-confirmation>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'course'"
                    [label]="'label.course' | translate" [field]="'course'" name="selectedCourseDiscipline.course.name"
                    [(ngModel)]="selectedCourseDiscipline.course.name"></app-input>
      </div>
      
      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'discipline'"
                    [label]="'label.discipline' | translate" [field]="'discipline'" name="selectedCourseDiscipline.discipline.name"
                    [(ngModel)]="selectedCourseDiscipline.discipline.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedCourseDiscipline.dateInsert"
                    [ngModel]="selectedCourseDiscipline.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedCourseDiscipline.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedCourseDiscipline.userInsert.name"
                    [ngModel]="selectedCourseDiscipline.userInsert?.name"
                    (ngModelChange)="selectedCourseDiscipline.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedCourseDiscipline.dateUpdate"
                    [ngModel]="selectedCourseDiscipline.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedCourseDiscipline.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedCourseDiscipline.userUpdate.name"
                    [ngModel]="selectedCourseDiscipline.userUpdate?.name"
                    (ngModelChange)="selectedCourseDiscipline.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedCourseDiscipline)" *ngIfPermission="'ROLE_COURSE_DISCIPLINE_DELETE'">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>