<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
  <div class="form-group row">
    <!-- NOME -->
    <app-input class="col-sm-12" [type]="'text'"
               [form]="form" [field]="'name'" required [maxlength]="100"
               [id]="'name'" [label]="'label.name' | translate" name="discipline.name"
               [control]="name" #name="ngModel" [(ngModel)]="discipline.name"></app-input>
  </div>

  <div class="form-group row">
    <!-- HORA(S) -->
    <app-input class="col-sm-3" [type]="'number'" 
               [form]="form" [field]="'numberHour'" required [min]="1"
               [id]="'numberHour'" [label]="'label.hours' | translate" name="discipline.numberHour"
               [control]="numberHour" #numberHour="ngModel" [(ngModel)]="discipline.numberHour"
               (keyup)="changeInput('numberHour', $event)" (change)="changeInput('numberHour', $event)"></app-input>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
</form>