<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="col-sm-12">
      <div class="login-card card-body auth-body">
        <form class="md-float-material">
          <div class="auth-box">
            <a href="https://www.faculdadenovaroma.com.br/site/" target="_blank">
              <img class="img-fluid" src="assets/images/FNR/logo_name_fnr_127x75.png" alt="logo_name_fnr_127x75.png">
            </a>

            <div class="row m-b-10">
              <div class="col-md-12">
                <h3 class="text-left" translate>login.forgotPassword</h3>
                <h4 class="text-inverse text-left" translate>forgotPassword.dontWorry</h4>
              </div>
            </div>

            <p class="text-inverse text-left">
              {{'forgotPassword.contactFacult' | translate}} <br/>
              <strong>secretaria@faculdadenovaroma.com.br</strong><br/>
              {{'forgotPassword.orCallFor' | translate}} <strong>(81) 2128.8000</strong>.
            </p>

            <p class="text-inverse text-right" style="border-top: 1px solid #bdc3c7">
              {{'label.goBackTo' | translate}} <a [routerLink]="['/authentication/login']">Login.</a>
            </p>
            
            <div class="row">
              <div class="col-md-10">
                <p class="text-inverse text-left m-b-0">{{'label.thankYou' | translate}},</p>
                <p class="text-inverse text-left"><b>Faculdade Nova Roma</b></p>
              </div>

              <div class="col-md-2">
                <a href="https://www.faculdadenovaroma.com.br/site/" target="_blank">
                  <img class="img-fluid img-circle" src="assets/images/FNR/logo_fnr_48x48.png" alt="logo_fnr_48x48.png">
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>