<div class="row">
  <div class="col-sm-6">
    <app-card [title]="'BONGI | Graduação'" [classHeader]="true" [hideButtons]="true">
      <span class="code-header" translate>address.bongi</span>
      <agm-map [latitude]="-8.067501" [longitude]="-34.913017" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
        <agm-marker [latitude]="-8.067501" [longitude]="-34.913017">
          <agm-info-window>BONGI | Graduação</agm-info-window>
        </agm-marker>
      </agm-map>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'BOA VIAGEM | MBA/Pós'" [classHeader]="true" [hideButtons]="true">
      <span class="code-header"translate>address.boaviagem</span>
      <agm-map [latitude]="-8.1155355" [longitude]="-34.9080151" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
        <agm-marker [latitude]="-8.1155355" [longitude]="-34.9080151">
          <agm-info-window>BOA VIAGEM | MBA/Pós</agm-info-window>
        </agm-marker>
      </agm-map>
    </app-card>
  </div>
</div>