<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">

  <div class="form-group row">
    <!-- CPF -->
    <app-input class="col-sm-3" [form]="form" [field]="'cpf'" [type]="'text'"
                [minlength]="14" [maxlength]="14" [id]="'cpf'" required
                [label]="'label.cpf' | translate" name="user.cpf" [control]="cpf" 
                #cpf="ngModel" [ngModel]="user.cpf | cpf" (ngModelChange)="user.cpf = $event" ></app-input>

    <!-- PERFIL -->
    <app-autocomplete [list]="profiles" (search)="findProfile()" [displayProperty]="'name'" (selectItem)="selectProfile($event)"
                      class="col-sm-9" [form]="form" [field]="'profile'" [id]="'profile'" [isFiltered]="isFilteredProfile"
                      [label]="'label.profile' | translate" name="user.profile.name" [control]="profileName"
                      #profileName="ngModel" [(ngModel)]="profile.name"
                      [tooltip]="'tooltip.users.informNameProfile' | translate" required></app-autocomplete>
  </div>

  <div class="form-group row">
    <!-- NOME -->
    <app-input class="col-sm-12" [form]="form" [field]="'name'" [type]="'text'"
                [minlength]="2" [maxlength]="20" [id]="'name'" required
                [label]="'label.name' | translate" name="user.name" [control]="name"
                #name="ngModel" [(ngModel)]="user.name"></app-input>
  </div>

  <div class="form-group row">
    <!-- LOGIN -->
    <app-input class="col-sm-6" [form]="form" [field]="'name'" [type]="'text'"
                [minlength]="2" [maxlength]="20" [id]="'login'" required
                [label]="'label.login' | translate" name="user.login" [control]="login"
                #login="ngModel" [(ngModel)]="user.login"></app-input>
    
    <!-- CURSO -->
    <app-autocomplete [list]="courses" (search)="findCourse()" [displayProperty]="'name'" (selectItem)="selectCourse($event)"
                      class="col-sm-6" [form]="form" [field]="'course'" [id]="'course'" [isFiltered]="isFilteredCourse"
                      [label]="'label.course' | translate" name="user.course.name" [control]="courseName"
                      #courseName="ngModel" [(ngModel)]="course.name"
                      [tooltip]="'tooltip.users.informNameCourse' | translate" required></app-autocomplete>
  </div>

  <div class="form-group row" *ngIf="isEdit" style="margin-top: 10px; margin-bottom: 10px">
    <!-- ALTERAR SENHA -->
    <app-input-check class="col-sm-3" [form]="form" [field]="'ckUpdatePassword'" [id]="'user.ckUpdatePassword'"
                    name="user.ckUpdatePassword" [control]="user.ckUpdatePassword" [label]="'label.updatePassword' | translate"
                    #insert="ngModel" [(ngModel)]="user.ckUpdatePassword"></app-input-check>
  </div>

  <div class="form-group row" *ngIf="!isEdit || user.ckUpdatePassword">
    <!-- PASSWORD -->
    <app-input class="col-sm-6" [form]="form" [field]="'password'" [type]="'password'"
                [minlength]="2" [maxlength]="20" [id]="'password'" required [control]="password"
                [label]="'label.password' | translate" name="user.password"
                #password="ngModel" [(ngModel)]="user.password"></app-input>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()" [disabled]="isLoading">
        <i class="icofont icofont-arrow-left"></i> 
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success" [disabled]="isLoading">
        <i class="ti-reload rotate-refresh" *ngIf="isLoading"></i>
        <i class="icofont icofont-save" *ngIf="!isLoading"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
</form>