<div draggable="true" ngClass="box has-advanced-upload {{dragAreaClass}}" >
  <div class="box_input">
    <svg class="box_icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>

    <input id="file" type="file" #file [multiple]="(maxFiles > 1)" (change)="onFileChange($event)" class="box_file"/>

    <label for="file" (click)="file.click()" *ngIf="countFiles == 0">
      <strong translate>label.selectFiles</strong>
      <span class="box_dragndrop" translate>label.orDragHere</span>.
    </label>

    <label for="file" (click)="file.click()" *ngIf="countFiles > 0 && errors.length == 0">
      <span class="box_dragndrop">{{countFiles}} <label translate>label.selectedFiles</label></span>.
    </label>
  </div>

  <div class="box_error" *ngIf="errors.length > 0">

    <div class="row error">
      <ul>
        <li *ngFor="let err of errors">{{err}}</li>
      </ul>
    </div>
    
    <label class="box_restart" (click)="file.click()" *ngIf="countFiles > 0">
      Try again!
    </label>
  </div>
</div>
