.error {
  color: #f00;
}

.box_dragndrop,
.box_uploading,
.box_success {
  display: none;
}

.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  text-align: center;
}

.box.has-advanced-upload .box_icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.box {
  font-size: 1.25rem;
  background-color: #c8dadf;
  position: relative;
  padding: 50px 20px;
}

strong {
  font-weight: bold;
}

.box_file + label:hover strong, 
.box_file:focus + label strong, 
.box_file.has-focus + label strong,
.box_restart:hover, 
.box_restart:focus, 
.box_error.has-focus {
  color: #39bfd3;
}

.box_error{
  text-align: center;
  padding-left: 10px;
}

.box_restart {
  font-weight: 700;
}

.box_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box_file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.box.is-dragover{
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}

.box.has-advanced-upload .box_dragndrop {
  display: inline;
}