<ngx-smart-modal #modal identifier="modal">
  <div class="modal-header">
    <h4 class="modal-title" translate>{{title}}</h4>
  </div>

  <div class="modal-body">
    <p translate>{{body}}</p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close()" translate>{{textButtonClose}}</button>
    <button class="btn btn-success" (click)="confirm()" translate>{{textButtonConfirmation}}</button>
  </div>
</ngx-smart-modal>