<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            
            <div class="auth-box">
              <a [routerLink]="['/authentication/login']">
                <img class="img-fluid" src="assets/images/FNR/logo_name_fnr_127x75.png" alt="logo_name_fnr_127x75.png">
              </a>

              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center"><i class="icofont icofont-lock text-primary f-50"></i></h3>
                </div>
              </div>
              
              <p class="text-inverse b-b-default text-right">Voltar para <a [routerLink]="['/help']">Tela inicial</a></p>
              
              <div class="input-group">
                <input type="text" class="form-control" placeholder="alunonota10@dominio.fnr">
                <span class="md-line"></span>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center">
                    <i class="icofont icofont-lock"></i>
                    Lock Screen
                  </button>
                </div>
              </div>
              
              <hr/>
              
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Obrigadx,</p>
                  <p class="text-inverse text-left"><b>Faculdade Nova Roma</b></p>
                </div>

                <div class="col-md-2">
                  <a href="https://www.faculdadenovaroma.com.br/site/" target="_blank">
                    <img class="img-fluid img-circle" src="assets/images/FNR/logo_fnr_48x48.png" alt="logo_fnr_48x48.png">
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>